@media (min-width: 1200px) {
    .container {
        max-width: 960px;
    }
}
body {
    background-color: #2e194e;
    color: #f3e5f5;
}
tbody {
    color: #2e194e;
}
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
    border-right:0; 
    box-shadow:0 0 0; 
    border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
.sprite{
    background-image: url(../img/coin_sprite.png);
    background-repeat: no-repeat;
    display: inline-block;
    margin: 0 5px 0 2px;
    position: relative;
    top: 3px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    height: 15px;
    width: 15px;
}
.sprite-silver{
    background-position: -15px 0;
}
.sprite-copper{
    background-position: -30px 0;
}

.bg-notSoHarsh {
    background-color: #6a3dbb !important;
}

.prize-name {
    font-size: 14pt;
    font-weight: bold;
    line-height: 1;
}

.prize-desc {
    color: black;
}

.modal-title {
    color: blueviolet;
}

/* Rarity colors */
.item {
    border-style: solid;
}
.junk {
    color: #aaa;
}
.basic {
    color: #000;
}
.fine {
    color: #62a4da;
}
.masterwork {
    color: #1b9206;
}
.rare {
    color: #fcd00b;
}
.exotic {
    color: #ffa405;
}
.ascended {
    color: #fb3e8d;
}
.legendary {
    color: #4C139D;
}